/* .bottom-div {
    position: relative;
    margin-bottom: 10px;
}

.bottom-div.button-container {
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}

button {
    margin-left: 5px;;
} */