<body>
  <div class="container-fluid overflow-auto" *ngIf="unAuthorizedUser">
    <div class="row">
      <div class="col-2 component-left"></div>
      <div class="col-8 component-center">
        <h3>These are your pantries:</h3>
        <div class="pantry-row">
          <div
            class="col-4 p-0 pantry-card-deck d-flex justify-content-center"
            *ngFor="let pantry of pantries"
          >
            <a
              class="d-flex justify-content-center"
              routerLink="/pantry/{{
                pantry.pantryId
              }};sidebar:sidebar;stockproduct:stockproduct"
              [queryParams]="{ name: pantry.name, id: pantry.pantryId }"
            >
              <div class="d-flex pantry-card">
                <img src="https://img.icons8.com/ios/100/null/pantry--v2.png" />
                <p>{{ pantry.name }}</p>
              </div>
            </a>
          </div>
        </div>
        <div *ngIf="pantries!.length === 0">
          <p>
            Let's get started with reducing food waste. Add your first pantry
            now!
          </p>
        </div>
      </div>
      <div class="col-2 action-bar d-flex align-items-start">
        <button
          class="btn btn-primary actions-button position-fixed"
          *ngIf="unAuthorizedUser"
          (click)="onOpenDialog()"
        >
          Add pantry
        </button>
      </div>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="!unAuthorizedUser">
    Page can not be visited:<br />{{ errorMessage }}
  </div>
</body>
