<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 component-left">
        <p>Hier komt een overzicht van pantries</p>
      </div>
      <div class="col-8 component-center">
        <div *ngFor="let pantry of pantries">
          <table class="table table-striped">
            <tr>
              <a
                routerLink="/pantry/{{ pantry.pantryId }}"
                [queryParams]="{ name: pantry.name }"
                >{{ pantry.name }}</a
              >
            </tr>
          </table>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="unAuthorizedUser == false">
        Page can not be visited:<br />{{ errorMessage }}
      </div>
      <div class="col-2 component-right">
        <button
          class="btn btn-primary"
          *ngIf="unAuthorizedUser == true"
          (click)="onOpenDialog()"
        >
          Add pantry
        </button>
      </div>
    </div>
  </div>
</body>
