a{
  white-space: nowrap;
  text-decoration: none;
  display: block;
}

.nav-link {
  color: #333;
  font-size: 20px;
  padding: 10px;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-item.item {
  border-bottom: 1px solid black;
  display: block;
  width: 190px;
  padding: 5px;
}

.active-link, .initial-load{
  font-weight: 700;
}

img {
  width: 27px;
  height: 27px;
  margin-left: 5px;
}

li a div {
  display: flex;
  text-align: center;
  align-items: center;
}

