<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-12 d-none d-md-block sidebar">
        <div class="position-fixed">
          <ul class="nav flex-column">
            <li class="nav-item item">
              <a
                class="nav-link active"
                aria-current="true"
                [routerLink]="[
                  '/pantry',
                  pantryId,
                  { outlets: { stockproduct: ['stock'], action: ['stock'] } }
                ]"
                [queryParams]="{ name: pantryName }"
                routerLinkActive="active-link"
                #stock="routerLinkActive"
              >
                <div
                  class="nav-link active"
                  aria-current="true"
                  routerLink="/pantry/{{
                    initialPantryId
                  }};sidebar:sidebar;stockproduct:stockproduct"
                  [queryParams]="{ name: pantryName, id: initialPantryId }"
                  routerLinkActive="active-link"
                  #stockInitialLoad="routerLinkActive"
                  hidden="stockInitialLoad.isActive && !stockInitialLoad.isActive"
                ></div>
                <div *ngIf="stock.isActive">
                  Stock<img
                    src="/assets/images/favicon2.ico"
                    alt="Topshelf icon side-bar"
                  />
                </div>
                <div *ngIf="!stock.isActive && !stockInitialLoad.isActive">
                  Stock
                </div></a
              >
            </li>
            <li class="nav-item item">
              <a
                class="nav-link active"
                [routerLink]="[
                  '/pantry',
                  pantryId,
                  {
                    outlets: {
                      stockproduct: ['basicstock'],
                      action: ['basicstock']
                    }
                  }
                ]"
                [queryParams]="{ name: pantryName }"
                routerLinkActive="active-link"
                #basicStock="routerLinkActive"
              >
                <div *ngIf="basicStock.isActive">
                  Minimum stock<img
                    src="/assets/images/favicon2.ico"
                    alt="Topshelf icon side-bar"
                  />
                </div>
                <div *ngIf="!basicStock.isActive">Minimum stock</div>
              </a>
            </li>
            <li class="nav-item item">
              <a
                class="nav-link"
                [routerLink]="[
                  '/pantry',
                  pantryId,
                  {
                    outlets: {
                      stockproduct: ['groceries'],
                      action: ['groceries']
                    }
                  }
                ]"
                [queryParams]="{ name: pantryName }"
                routerLinkActive="active-link"
                #groceryList="routerLinkActive"
              >
                <div *ngIf="groceryList.isActive">
                  Grocery list<img
                    src="/assets/images/favicon2.ico"
                    alt="Topshelf icon side-bar"
                  />
                </div>
                <div *ngIf="!groceryList.isActive">Grocery list</div>
              </a>
            </li>
            <li class="nav-item item">
              <a
                class="nav-link"
                [routerLink]="[
                  '/pantry',
                  pantryId,
                  {
                    outlets: {
                      stockproduct: ['users'],
                      action: ['users']
                    }
                  }
                ]"
                [queryParams]="{ name: pantryName }"
                routerLinkActive="active-link"
                #users="routerLinkActive"
              >
                <div *ngIf="users.isActive">
                  Users<img
                    src="/assets/images/favicon2.ico"
                    alt="Topshelf icon side-bar"
                  />
                </div>
                <div *ngIf="!users.isActive">Users</div>
              </a>
            </li>
            <li class="nav-item item">
              <a
                class="nav-link"
                [routerLink]="[
                  '/pantry',
                  pantryId,
                  {
                    outlets: {
                      stockproduct: ['pantrydetail'],
                      action: ['pantrydetail']
                    }
                  }
                ]"
                [queryParams]="{ name: pantryName }"
                routerLinkActive="active-link"
                #pantryDetail="routerLinkActive"
              >
                <div *ngIf="pantryDetail.isActive">
                  Pantry settings<img
                    src="/assets/images/favicon2.ico"
                    alt="Topshelf icon side-bar"
                  />
                </div>
                <div *ngIf="!pantryDetail.isActive">Pantry settings</div>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</body>
