<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-12 d-none d-md-block sidebar">
        <div class="position-fixed">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="true"
                [routerLink]="[
                  '/pantry',
                  pantryId,
                  { outlets: { stockproduct: ['stock'], action: ['stock'] } }
                ]"
                [queryParams]="{ name: pantryName }"
                routerLinkActive="active-link"
                #stock="routerLinkActive"
              >
              <div *ngIf="stock.isActive"><img src="/assets/images/favicon2.ico"/>Stock</div>
              <div *ngIf="!stock.isActive">Stock</div></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                [routerLink]="[
                  '/pantry',
                  pantryId,
                  {
                    outlets: {
                      stockproduct: ['basicstock'],
                      action: ['basicstock']
                    }
                  }
                ]"
                [queryParams]="{ name: pantryName }"
                queryParamsHandling="merge"
                routerLinkActive="active-link"
                #basicStock="routerLinkActive"
              >
              <div *ngIf="basicStock.isActive"><img src="/assets/images/favicon2.ico"/>Basic stock</div>
              <div *ngIf="!basicStock.isActive">Basic stock</div>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="[
                  '/pantry',
                  pantryId,
                  {
                    outlets: {
                      stockproduct: ['groceries'],
                      action: ['groceries']
                    }
                  }
                ]"
                [queryParams]="{ name: pantryName }"
                routerLinkActive="active-link"
                #groceryList="routerLinkActive"
              >
              <div *ngIf="groceryList.isActive"><img src="/assets/images/favicon2.ico"/>Grocery list</div>
              <div *ngIf="!groceryList.isActive">Grocery list</div>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="[
                  '/pantry',
                  pantryId,
                  {
                    outlets: {
                      stockproduct: ['users'],
                      action: ['users']
                    }
                  }
                ]"
                [queryParams]="{ name: pantryName }"
                routerLinkActive="active-link"
                #users="routerLinkActive"
              >
                <div *ngIf="users.isActive"><img src="/assets/images/favicon2.ico"/>Users</div>
                <div *ngIf="!users.isActive">Users</div>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</body>
