a {
    white-space: nowrap;
    color: rgb(65, 113, 156);
    margin-left: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar-brand {
    width: auto;
    max-width: 120px;
}

a:link, a:visited, a:active{
    color:white !important;
    text-decoration: none; 
  }



