<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <p>TOPSHELF</p>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li *ngIf="isLoggedIn()" class ="nav-item">
          <a routerLink="pantry" routerLinkActive="active" class="nav-link px-2 text-white">Pantry overview</a>
        </li>
      </ul>
      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-white" placeholder="Search..."
          aria-label="Search">
      </form> -->
      <div class="text-end" *ngIf="!isLoggedIn()">
        <button type="button" class="btn btn-outline-info me-2" routerLink="login">Login</button>
      </div>
      <div *ngIf="isLoggedIn()">
        <button type="button" class="btn btn-info" routerLink="login" (click)="logout()" >Logout</button>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="container">&copy; Found-IT 2023</footer>


