<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 component-left">
        <a
          [routerLink]="['/pantry/', pantryId, 'basicstock']"
          [queryParams]="{ name: namePantry }"
        >
          Go to basic stock</a
        >
        <br />
        <a
          [routerLink]="['/pantry', pantryId]"
          [queryParams]="{ name: namePantry }"
        >
          Go to your pantry stock</a
        >
      </div>
      <div class="col-8 component-center">
        <h4>{{ namePantry }}</h4>
        <br />
        <tr>
          These users are part of your pantry:
        </tr>
        <br />
        <table class="table table-striped">
          <tr>
            <th>User</th>
            <th>User role</th>
          </tr>
          <tr *ngFor="let user of admins">
            <td>{{ user.username }}</td>
            <td>Pantry admin</td>
          </tr>
          <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>User</td>
          </tr>
        </table>
        <div *ngIf="users.length == 0 && admins.length == 0">
          <p>There are no users using your pantry.</p>
        </div>
      </div>
      <div class="col-2 component-right">
        <div [hidden]="!isAdmin">
          <h4>Invite user</h4>
          <form [formGroup]="inviteUserToPantryForm">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="email"
                isSuccessful
              />
            </div>
            <div
              class="alert-danger"
              *ngIf="email?.touched && email?.invalid && !isSuccessful"
            >
              Email must be a valid email adress
            </div>
            <div
              class="alert-danger"
              *ngIf="email?.touched && email?.valid && !isSuccessful"
              [innerHTML]="errorMessage"
            ></div>
            <button
              class="btn btn-primary btn-block"
              [disabled]="inviteUserToPantryForm.invalid"
              (click)="saveUserToPantry()"
            >
              Invite user
            </button>
          </form>
          <div class="loader loader--full-height" *ngIf="isLoading"></div>
        </div>
      </div>
    </div>
  </div>
</body>
