
<h5>Change your password</h5>
<form [formGroup]="changePasswordForm">
  <div class="form-group">
    <label>Enter password</label>
    <input type="password" 
    class="form-control" name="password"  formControlName="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label>Enter new password</label>
    <input type="password" class="form-control" name="newPassword" formControlName="newPassword" placeholder="New password">
  
  </div>
    <div class="form-group">
    <label>Repeat new password</label>
    <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword" placeholder="Repeat new password">
  </div>
  <button type="submit" class="btn btn-primary" (click)="save()">Change password</button>
</form>

