@import "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
body, html {
  height: 100%;
}

li {
  color: rgb(65, 113, 156);
  width: 50%;
}

a.date {
  font-style: italic;
}

.btn-primary {
  background-color: rgb(65, 113, 156) !important;
}
