<div class="body-container">
  <div class="row">
    <div class="col-2">
      <a [routerLink]="['/pantry', pantryId, 'basicstock']">
      Manage your basic stock</a>
      </div>
    <div class="col-8">
      <table class="table table-striped">
        <h5>{{ namePantry }}</h5>
        <tr>
          <td>Product</td>
          <td>Expiration Date</td>
        </tr>
        <tr *ngFor="let stockProduct of pantryWithStockProducts">
          <td>{{ stockProduct.name }}</td>
          <td>{{ stockProduct.expirationDate }}</td>
          <td class="btn btn-primary" (click)="remove(stockProduct)">Remove</td>
        </tr>
      </table>
    </div>
    <div class="col-2">
      <form [formGroup]="addStockProductForm">
        <div class="formGroup col-12">
          <br />
          <h5>Add your product</h5>
          <label>Product name: </label><br />
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="enter product name"
          />
        </div>
        <div class="formGroup col-12">
          <br />
          <label>Expiration date: </label>
          <input
            type="date"
            class="form-control"
            formControlName="expirationdate"
            placeholder="enter expiration date"
          />
          <br />
          <button type="submit" class="btn btn-primary" (click)="save()">
            Save
          </button>
          <br />
        </div>
        <br />
      </form>
    </div>
  </div>
</div>
