<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 component-left"></div>
      <div class="col-8 component-center">
        <div class="card-deck">
          <a class="col-6 card">
            <br>
            <h3><i>
              Foodwaste reduction made easy
            </i></h3>
            <ul>
            <br>
              <p class="firstLine"><span>&#x2713;</span> Create your own pantries</p>
              <p><span>&#x2713;</span> Easy access to your daily stock</p>
              <p><span>&#x2713;</span> Get invited to other pantries</p>
              <p><span>&#x2713;</span> Makes grocery shopping easy</p>
              <br>
              <h3>Let's get started!</h3>
            
            </ul>
            <br>
            <div class="col-12 button-landing">
              <a class="btn btn-login btn-block" href="/login">Log in</a>
              <a class="btn btn-start btn-block" href="/register">Register</a>
              
            </div>
          </a>
          <a class="col-6 card">

            <ul>
              <img src="/assets/images/TOPSHELF-icon-open-white.png" />
            </ul>
            
          </a>
        </div>
      </div>
      <div class="col-2 component-right"></div>
    </div>
  </div>
</body>
