<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 component-left"></div>
      <div class="col-8 component-center">
        <h4>Welcome to Topshelf</h4>
        <h5>Foodwaste reduction made easy.</h5>

        <ul class="listOfOptions">
          <ul>
            <a href="/login">Log in</a>
          </ul>
          <ul>
            <a href="/register">Make a new account</a>
          </ul>
          <ul>
            <a href="/resetpassword">Reset my password</a>
          </ul>
        </ul>
      </div>
      <div class="col-2 component-right"></div>
    </div>
  </div>
</body>
