<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 component-left"></div>
      <div class="col-8 component-center">
        <div class="col-12 header">
          <h4>Foodwaste reduction made easy</h4>
        </div>
        <div class="card-deck">
          <a class="col-4 card" href="/login">
            <ul>
              <img src="/assets/images/keukentje_topshelf.png" />
              <a class="btn btn-primary btn-block" href="/login">Log in</a>
            </ul>
          </a>
          <a class="col-4 card" href="/register">
            <ul>
              <p>Create new pantries, invite others and never waste anything again!</p>
              <a class="btn btn-primary btn-block">Make a new account</a>
            </ul>
          </a>
          <a class="col-4 card" href="/resetpassword">
            <ul>
              <p>Make sure you keep your stock up to date, otherwise your waste will be high!</p>
              <a class="btn btn-primary btn-block">Reset my password</a>
            </ul>
          </a>
        </div>
      </div>
      <div class="col-2 component-right"></div>
    </div>
  </div>
</body>
