h2 {
  color: rgb(90, 157, 216);
  text-align: left;
  font-size: 180%;
  max-width: 100%;
  margin: 10px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
}

h3 {
  color:  rgb(65, 113, 156);
  text-align: left;
  font-size: 250%;
  margin-left: -50px;
  margin-top: 80px;
}

h4 {
  color:  rgb(65, 113, 156);
  text-align: center;
  font-size:200%;
  padding-top: 20px;
  font-weight: 550;
}

a {
  text-align: center;
  text-decoration: none;
}

p {
  margin-top: 20px;
  text-align: left;
  font-size: 30px !important;
  color:  rgb(65, 113, 156);
  font-weight: 500;
  max-width: 100%;
 }

 span {
  margin-left: 50px;
 }

.btn-start {
  background-color: rgb(45, 94, 141);
  border-color: rgb(250, 237, 221);
  font-size: larger;
  max-width: 280px;
  color: rgb(250, 237, 221);
}

.btn-login {
  background-color: rgb(90, 157, 216);
  border-color: rgb(250, 237, 221);
  font-size: larger;
  max-width: 280px;
}

a.col-6 {
  background: transparent !important;
  margin-left: -100px !important;
}

.col-12 {
  padding-top: 10px;
  padding-left: 130px;
  padding-bottom: 20px;
  padding-top: 20px;
}


.button-landing {
  margin-left: 0px;
}

a.btn,
a.btn:hover {
  color: white;
}

.card {
  position: relative;
  min-height: 250px;
  max-height: 300px;
  min-width: auto;
  display: block;
  border: 0;
  align-content: end;
}

ul {
  margin-top: 150px;
  margin-right: -50px;
  padding: 20px;
  padding-top: 10px;
  padding-left: -50px;
  background: rgba(250, 237, 221, 0.9);
}

p {
  margin-left: 1px;
  font-size: larger;
}

.row {
  background: url("/assets/images/food-on-shelves.jpg");
  background-size: cover;
}

img {
  margin-top: 100px;
  padding-right: 100px;
}
