.card-deck {
  max-height: 140px;
}

.card {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
  padding: 10px;
  margin: 15px;
  margin-bottom: 100px;
  min-height: 110px;
  border: 2px solid rgb(65, 113, 156);
}

.card p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.col-4 h5 {
  text-align: center;
  border-bottom: 1px solid black;
  max-width: 288px;
  padding: 10px;
}

.col-6 h5 {
  text-align: center;
  border-bottom: 1px solid black;
  max-width: 458px;
  padding: 10px;
}
