.card-deck {
  max-height: 165px;
}

.card-deck-users {
  display: flex;
  justify-content: center;
}

.card {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px 80px 20px 80px;
  margin: 15px;
  margin-bottom: 100px;
  min-height: 130px;
  border-radius: 0;
  border: 0;
}

.card p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.col-4 h5 {
  text-align: center;
  border-bottom: 1px solid rgb(65, 113, 156);
  max-width: 400px;
  padding: 10px;
}

.col-3 h5 {
  text-align: center;
  border-bottom: 1px solid rgb(65, 113, 156);
  max-width: 600px;
  padding: 10px;
}
