<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 component-center">
        <h3>{{ namePantry }} overview</h3>
        <img
          src="https://img.icons8.com/external-outline-design-circle/66/null/external-Grocery-shopping-and-ecommerce-outline-design-circle.png"
          class="centered"
        />
        <div class="card-deck">
          <div class="card col-4 shadow">
            <h5>Stock</h5>
            <p>{{ stockProducts.length }}</p>
          </div>
          <div class="card col-4 shadow">
            <h5>Minimum stock</h5>
            <p>{{ basicStockProducts.length }}</p>
          </div>
          <div class="card col-4 shadow">
            <h5>Grocery list</h5>
            <p>{{ groceryProducts.length }}</p>
          </div>
        </div>
        <img
          src="https://img.icons8.com/cotton/64/null/gender-neutral-user--v2.png"
          class="centered"
        />
        <div class="card-deck card-deck-users">
          <div class="card col-3 shadow">
            <h5>Users</h5>
            <p>{{ users.length }}</p>
          </div>
          <div class="card col-3 shadow">
            <h5>Admins</h5>
            <p>{{ admins.length }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
