<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 component-center">
        <h3>{{ namePantry }} overview</h3>
        <div class="card-deck">
          <div class="card col-4">
            <h5>Stock products</h5>
            <p>{{ stockProducts.length }}</p>
          </div>
          <div class="card col-4">
            <h5>Basic stock products</h5>
            <p>{{ basicStockProducts.length }}</p>
          </div>
          <div class="card col-4">
            <h5>Grocery list products</h5>
            <p>{{ groceryProducts.length }}</p>
          </div>
        </div>
        <div class="card-deck">
          <div class="card col-6">
            <h5>Users</h5>
            <p>{{ users.length }}</p>
          </div>
          <div class="card col-6">
            <h5>Admins</h5>
            <p>{{ admins.length }}</p>
          </div>
        </div>
        <p>pantry edit</p>
        <p>delete grocerylist from pantry</p>
        <p>delete all stockproducts from pantry</p>
        <p>delete users/admins from pantry</p>
      </div>
    </div>
  </div>
</body>
