<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 component-center">
        <h4>{{ namePantry }}</h4>
        <br />
        <tr>
          Grocery list:
        </tr>
        <br />
        <table class="table table-striped">
          <tr>
            <th>Product</th>
            <th class="text-end">Amount</th>
            <th></th>
            <th></th>
          </tr>
          <tr *ngFor="let groceryProduct of pantryWithGroceryProducts">
            <input type="hidden" name="groceryProductId" />
            <td>{{ groceryProduct.name }}</td>
            <td class="text-end">{{ groceryProduct.amount }}</td>
            <td class="text-center">
              <a (click)="openEditModal(groceryProduct)"
                ><span><i class="fa fa-edit"></i></span
              ></a>
            </td>
            <td>
              <a class="" (click)="remove(groceryProduct)"
                ><span><i class="fa fa-trash-o"></i></span
              ></a>
            </td>
          </tr>
        </table>
        <div *ngIf="pantryWithGroceryProducts.length === 0">
          <p>There are no products in your list yet.</p>
        </div>
      </div>
    </div>
  </div>
</body>
