<mat-dialog-content [formGroup]="form" class="form">
  <button type="button" class="close" (click)="close()">&times;</button>
  <mat-toolbar class="header">
    <h1>
      {{ basicStockProductName == null ? "Add a product" : "Edit product" }}
    </h1>
  </mat-toolbar>
  <br />
  <label>Product name </label>
  <mat-form-field class="form-group">
    <input
      name="basicStockProductName"
      type="text"
      matInput
      formControlName="basicStockProductName"
      placeholder="Product name"
      required
    />
    <mat-error class="error" *ngIf="form.invalid && form.touched"
      >Name is required</mat-error
    >
  </mat-form-field>
  <br />
  <label>Amount </label>
  <mat-form-field class="form-group">
    <input
      name="amount"
      type="number"
      formControlName="amount"
      matInput
      placeholder="Amount"
      required
    />
    <mat-error class="error" *ngIf="form.touched && form.invalid"
      >Enter a positive amount</mat-error
    >
  </mat-form-field>

  <mat-dialog-actions>
    <span *ngIf="basicStockProductName == null">
      <mat-checkbox
        mat-checkbox
        class="align-bottom"
        formControlName="openNewModal"
        checked="true"
        unchecked="false"
        >Add another</mat-checkbox
      >
    </span>

    <button class="btn btn-color" (click)="close()">Cancel</button>
    <button
      class="btn btn-color-2"
      onclick="openNewModal = false"
      [disabled]="form.invalid"
      (click)="save()"
    >
      Save
    </button>
  </mat-dialog-actions></mat-dialog-content
>
