<mat-dialog-content [formGroup]="form" class="form">
  <h5>Add product to basic stock</h5>
  <mat-form-field class="form-group">
    <input
      name="basicStockProductName"
      matInput
      formControlName="basicStockProductName"
      placeholder="Type product name"
      [(ngModel)]="basicStockProductName"
      required
    />
    <mat-error class="error" *ngIf="form.invalid && form.touched"
    >Name is required</mat-error
  >
  </mat-form-field>

  <br />
  <mat-form-field class="form-group">
    <input
      name="amount"
      type="number"
      formControlName="amount"
      matInput
      placeholder="Amount"
      required
    />
    <mat-error
      class="error"
      *ngIf="form.touched && form.invalid"
      >Enter an amount greater than 0</mat-error
    >
    <mat-error
      class="error"
      *ngIf="form.value.amount < 1 && form.touched && !form == null"> 
      Enter a positive amount</mat-error
    >
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="btn btn-block btn-primary" (click)="close()">Close</button>
  <button
    class="btn btn-block btn-primary"
    [disabled]="form.invalid"
    (click)="save()"
  >
    Save
  </button>
</mat-dialog-actions>
