mat-toolbar.header {
    background-color: rgb(65, 113, 156);
    width: 100%;
    color: white;
}

button {
    margin-left: 5px;
}

.btn-color{
    background-color: gray;
    color: white;
}

.btn-color-2 {
    background-color: rgb(65, 113, 156);
    color: white;
}

.btn:link,
.btn:visited,
.btn:active {
    color: white;
}

.text-bottom {
    vertical-align: bottom;
}



