/* mat-toolbar.header {
    background-color: rgb(65, 113, 156);
    width: 100%;
    color: white;
    margin-bottom: 20px;;
}

mat-form-field {
    width: 100%;
}

.btn-color, .btn-color:hover {
    background-color: gray;
    color: white;
}

h4 {
    padding: 10px;
    text-align: center;
}

.buttons-bottom {
    margin: 5px;
}

.leftside {
    position: relative; 
}

.rightside {
    display: flex;
} */

