.text-bg-dark {
  background-color: #430069;
}

body {
  background-color: beige;

}

.body-container {
  background-color: rgb(127, 167, 81);
  min-height: 100vh;
}

.footer {
  background-color: rgb(181, 219, 213);
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
