body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden;
}

.navbar {
  background-color: black;
  color: white;
}

footer {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}

li {
  width: 50%;
}

a {
  color: black;
}

a.date {
  font-style: italic;
}