<body>
  <mat-toolbar class="header">
    <div class="container-fluid">
      <h4>Error</h4>
    </div>
  </mat-toolbar>
  <mat-dialog-content
    ><a
      >Product with name {{ name }} already exists in your minimum stock</a
    ></mat-dialog-content
  >
  <div
    class="bottom-div container-fluid position-absolute bottom-0 start-50 translate-middle-x"
  >
    <div class="button-container d-flex flex-row-reverse">
      <button class="modal-button btn btn-primary" mat-dialog-close>
        Cancel
      </button>
    </div>
  </div>
</body>
