<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 component-left"></div>
      <div class="col-8 component-center user-actions">
        <div class="col-5 card card-container">
          <h4>Password reset</h4>
          <form
            *ngIf="!isSuccessful"
            name="form"
            (ngSubmit)="resetPasswordForm.valid && onSubmit()"
            #resetPasswordForm="ngForm"
            novalidate
          >
            <div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  [(ngModel)]="form.email"
                  required
                  #email="ngModel"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                />
              </div>
              <div
                class="alert-danger"
                *ngIf="resetPasswordForm.submitted && email.invalid"
              >
                <div *ngIf="email.errors?.['required']">Email is required</div>
                <div *ngIf="email.errors?.['pattern']">
                  Email must be a valid email adress
                </div>
              </div>
              <div class="form-group d-flex justify-content-center">
                <div id="recaptcha">
                  <re-captcha
                    name="recaptcha"
                    #recaptcha="ngModel"
                    [(ngModel)]="captchaResponse"
                    required
                    [class.is-invalid]="
                      recaptcha.invalid &&
                      (recaptcha.dirty || recaptcha.touched)
                    "
                  ></re-captcha>
                </div>
              </div>
              <div
                *ngIf="
                  recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)
                "
                class="invalid-feedback"
              >
                <div *ngIf="recaptcha.errors?.['required']">
                  This field is required.
                </div>
              </div>
              <div class="form-group">
                <div class="user-form">
                  <button class="btn btn-primary" [disabled]="isLoading">
                    Reset password
                  </button>
                  <div class="cancel">
                    <a class="secondary" routerLink="/login">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="loader loader--full-height" *ngIf="isLoading"></div>
            <div
              class="alert alert-danger"
              *ngIf="resetPasswordForm.submitted && isResetFailed"
              [innerHTML]="errorMessage"
            >
            </div>
          </form>
        </div>
      </div>
      <div class="col-2 component-right"></div>
    </div>
  </div>
</body>
