a:link,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}

.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-color {
  background-color: gray;
  color: white;
}

#recaptcha {
  margin-left: 5%;
}

h4 {
  padding: 10px;
  text-align: center;
}

.alert {
  white-space: pre-wrap;
}

.cancel {
  text-align: center;
  padding: 10px 10px 0px 10px;
  font-size: 14px;
}

a.secondary {
  color: rgb(45, 92, 134);
}

a.secondary:hover {
  color: rgb(65, 113, 156);
  text-decoration: underline;
}
