<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 component-left">
        <a
          [routerLink]="['/pantry', pantryId]"
          [queryParams]="{ name: namePantry }"
        >
          Go to your pantry stock</a
        >
      </div>
      <div class="col-8 component-center">
        <h4>{{ namePantry }}</h4>
        <br>
        <tr>Products defined in your basic stock:</tr>
        <br>
        <table class="table table-striped">
          <tr>
            <th>Product</th>
            <th class="text-end">Amount</th>
            <th></th>
          </tr>
          <tr *ngFor="let basicStockProduct of pantryWithBasicStockProducts">
            <input type="hidden" name="basicStockProductId">
            <td>{{ basicStockProduct.name }}</td>
            <td class="text-end">{{ basicStockProduct.amount }}</td>
          <td class="text-center">
            <a (click)="onOpenDialog(basicStockProduct)"
            ><span><i class="fa fa-edit"></i></span
              ></a>
          </td>
          </tr>
        </table>
        <div *ngIf="pantryWithBasicStockProducts.length === 0">
          <p>There are no products in your list yet.</p>
        </div>
      </div>
      <div class="col-2 component-right">
        <button class="btn btn-primary sidebar-fixed" (click)="onOpenDialog()">
          Add product
        </button>
      </div>
    </div>
  </div>
</body>
