<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 component-left">
        <a
          [routerLink]="['/pantry', pantryId]"
          [queryParams]="{ name: namePantry }"
        >
          Stock</a
        >
      </div>
      <div class="col-7 component-center">
        <h4>{{ namePantry }}</h4>
        <br />
        <table class="table table-striped">
          <tr>
            <th>Product</th>
            <th class="text-end">Amount</th>
            <th></th>
          </tr>
          <tr *ngFor="let basicStockProduct of pantryWithBasicStockProducts">
            <td>{{ basicStockProduct.name }}</td>
            <td class="text-end">{{ basicStockProduct.amount }}</td>
            <td></td>
          </tr>
        </table>
        <div *ngIf="pantryWithBasicStockProducts.length === 0">
          <p>There are no products in your list yet.</p>
        </div>
      </div>
      <div class="col-3 component-right">
        <form [formGroup]="addBasicStockProductForm" class="sidebar-fixed">
          <div class="formGroup col-12">
            <h5>Add product to basic stock</h5>
            <label>Product name: </label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              placeholder="enter product name"
            />
            <span class="alert-danger" *ngIf="name?.invalid && name?.touched"
              >Product name is invalid</span
            >
          </div>
          <br />
          <div class="formGroup col-12">
            <label for="amount">Product amount: </label>
            <input
              type="number"
              class="form-control"
              formControlName="amount"
              placeholder="enter product amount"
            />
            <span
              class="alert-danger"
              *ngIf="amount?.invalid && amount?.touched"
              >Product amount is invalid</span
            >
            <br />
            <button class="btn btn-primary" (click)="save()">Save</button>
            <br />
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
